<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://surveyjs.azureedge.net/1.0.81/survey.jquery.js"></script>
    {% load static %}
    <link href="{%static 'kmsurvey/survey.css'%}" rel="stylesheet" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <script src="https://unpkg.com/bootstrap-material-design@0.5.10/dist/js/material.js"></script>
    <script src="https://unpkg.com/bootstrap-material-design@0.5.10/dist/js/ripples.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@0.5.10/dist/css/bootstrap-material-design.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@0.5.10/dist/css/ripples.css">

    <div id="surveyElement"></div>
    <div id="surveyResult"></div>

    <script>

      $.material.init();

      Survey.defaultBootstrapMaterialCss.navigationButton = "btn btn-green";
      Survey.defaultBootstrapMaterialCss.rating.item = "btn btn-default my-rating";
      Survey.StylesManager.applyTheme("bootstrapmaterial");



      var json = { pages: [
            {questions: [
                {% for question in approach_questions %}
                  {type: "rating", name: "satisfaction", title: "{{ question.question_text }}",
                      mininumRateDescription: "NO", maximumRateDescription: "YES" },
                {% endfor %}
                { type: "matrix", name: "Quality", title: "Please indicate if you agree or disagree with the following statements",
                    columns: [{ value: 1, text: "Strongly Disagree" },
                              { value: 2, text: "Disagree" },
                              { value: 3, text: "Neutral" },
                              { value: 4, text: "Agree" },
                              { value: 5, text: "Strongly Agree" }],
                    rows: [{ value: "affordable", text: "Product is affordable" },
                           { value: "does what it claims", text: "Product does what it claims" },
                           { value: "better then others", text: "Product is better than other products on the market" },
                           { value: "easy to use", text: "Product is easy to use" }]},
                { type: "rating", name: "satisfaction", title: "How satisfied are you with the Product?",
                    mininumRateDescription: "Not Satisfied", maximumRateDescription: "Completely satisfied" },
                { type: "rating", name: "recommend friends", visibleIf: "{satisfaction} > 3",
                    title: "How likely are you to recommend the Product to a friend or co-worker?",
                    mininumRateDescription: "Will not recommend", maximumRateDescription: "I will recommend" },
                { type: "comment", name: "suggestions", title:"What would make you more satisfied with the Product?", }
            ]},
            {questions: [
                { type: "radiogroup", name: "price to competitors",
                    title: "Compared to our competitors, do you feel the Product is",
                    choices: ["Less expensive", "Priced about the same", "More expensive", "Not sure"]},
                { type: "radiogroup", name: "price", title: "Do you feel our current price is merited by our product?",
                    choices: ["correct|Yes, the price is about right",
                            "low|No, the price is too low for your product",
                            "high|No, the price is too high for your product"]},
                { type: "multipletext", name: "pricelimit", title: "What is the... ",
                    items: [{ name: "mostamount", title: "Most amount you would every pay for a product like ours" },
                            { name: "leastamount", title: "The least amount you would feel comfortable paying" }]}
            ]},
            { questions: [
                    { type: "text", name: "email",
                        title: "Thank you for taking our survey. Your survey is almost complete, please enter your email address in the box below if you wish to participate in our drawing, then press the 'Submit' button."}
                ]}
        ]
      };

      window.survey = new Survey.Model(json);


      survey.onComplete.add(function(result) {
        document.querySelector('#surveyResult').innerHTML = "result: " + JSON.stringify(result.data);
      });


      $("#surveyElement").Survey({
        model: survey
      });

    </script>
    {% for question in approach_questions %}
      {{question.id}}) {{ question.question_text }}
      <p>
        {% for scale_choice_symbol, scale_choice  in scale_choices %}
          <input type="radio" name="choice" value="{{ scale_choice_symbol }}">{{ scale_choice }}
        {% endfor %}
      </p>
    {% endfor %}
  </body>
</html>
